header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  footer {
      height: 3.7%;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .MainController {
    height: 100%;
    width: 100%;
    position: relative;
}