.card{
    background-color: #f0f2fd;
   width: 15rem;
   flex-direction: row-reverse;
   margin: 1% 0 0% 1%;
   box-shadow: 3px 3px 5px #aaaaaa;
   .card-img-top{
    margin-top: 10px;
    margin-right: 10px;
    width: 79px;
    height: 104px;
    margin-bottom: 10px;
    background-color: black;
    }
  }
  .card:hover{
    box-shadow: 20px 20px 20px  #aaaaaa;
  }
  .card-body {
    padding: 0.50rem;
    .card-title {
        h5{
          margin-bottom: 0;
        }
      margin-bottom: 0;
  }
}
   
    