.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  header {
    background-color:#63735ef5;
    flex: 0 0 50px;
  }
  
  .product-tile-container{
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    height: calc(100% - 150px);
    overflow: auto;
    align-content: baseline;
    margin-left: 3%;
   }

  .pagination {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    height:50px;
    margin-bottom: 0px;
    li{
    list-style-type: none;
    display: inline-block;
    padding: 6px 15px;
    background: #b1b1b1a6;
    margin: 5px;
    border: 1px solid rgba(111, 107, 108, 0.44);
    border-radius: 19px;
   
      a{
       text-decoration: none;
        color: unset;
       }
    }
   .active{
        background: #8f9292;
    }
    .disabled{
      background: #f7eded;
      color: #bdb1b1;
    }
       
  }

  footer {
    background-color: #607562;
    flex: 0 0 40px;
  }

}